// _variables.scss

$padding-block: (
        default: 1rem,
        md: 1rem,
        lg: 2rem,
        xl: 3rem
);

// tig extract padding based sa breakpoint
@function get-padding($breakpoint) {
  @return map-get($padding-block, $breakpoint);
}

// header size is 56 — mekus mekus padding —> voila
$hero-padding: (
        lg: 88px,
        xl: 152px
);
